<footer class="ae-container-fluid rk-footer ">
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg-12 au-xs-ta-center au-lg-ta-left">
        <ul class="rk-menu rk-footer-menu">
          <li class="rk-menu__item"><a routerLink="home" class="rk-menu__link">Inicio</a>
          </li>
          <li class="rk-menu__item"><a routerLink="about" class="rk-menu__link">Contactos</a>
          </li>
        </ul>
        <p class="rk-footer__text rk-footer__copy "> <span class="ae-u-bold">© </span><span class="ae-u-bolder">{{anio}} Resistencias Ecuador </span>Todos los derechos reservados.</p>
      </div>
      
    
    </div>
  </footer>
